<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.viavarejo.desafio">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CustomApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Desafioandroidalexnaldo">
        <activity
            android:name=".views.personagem.hq.HQActivity"
            android:exported="true"
            android:label="@string/activity_hq"
            android:launchMode="singleTop"
            android:parentActivityName=".views.personagem.detalhe.DetalheActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.personagem.detalhe.DetalheActivity" />
        </activity>
        <activity
            android:name=".views.personagem.detalhe.DetalheActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:label="@string/activity_listagem_detail_title"
            android:parentActivityName=".views.personagem.listagem.ListagemActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.personagem.listagem.ListagemActivity" />
        </activity>
        <activity
            android:name=".views.personagem.listagem.ListagemActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:label="@string/activity_listagem_title"
            android:parentActivityName=".views.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.main.MainActivity" />
        </activity>
        <activity
            android:name=".views.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>